[submodule "puppi"]
	path = puppi
	url = ../puppi.git
[submodule "openssh"]
	path = openssh
	url = ../puppet-openssh.git
[submodule "solr"]
	path = solr
	url = ../puppet-solr.git
[submodule "iptables"]
	path = iptables
	url = ../puppet-iptables.git
[submodule "wordpress"]
	path = wordpress
	url = ../puppet-wordpress.git
[submodule "tomcat"]
	path = tomcat
	url = ../puppet-tomcat.git
[submodule "jenkins"]
	path = jenkins
	url = ../puppet-jenkins.git
[submodule "monitor"]
	path = monitor
	url = ../puppet-monitor
[submodule "firewall"]
	path = firewall
	url = ../puppet-firewall
[submodule "splunk"]
	path = splunk
	url = ../puppet-splunk.git
[submodule "Example42-tools"]
	path = Example42-tools
	url = ../Example42-tools.git
[submodule "foo"]
	path = foo
	url = ../puppet-foo
[submodule "redis"]
	path = redis
	url = ../puppet-redis.git
[submodule "haproxy"]
	path = haproxy
	url = ../puppet-haproxy.git
[submodule "nginx"]
	path = nginx
	url = ../puppet-nginx.git
[submodule "mysql"]
	path = mysql
	url = ../puppet-mysql.git
[submodule "apache"]
	path = apache
	url = ../puppet-apache.git
[submodule "xinetd"]
	path = xinetd
	url = ../puppet-xinetd
[submodule "tftp"]
	path = tftp
	url = ../puppet-tftp
[submodule "openntpd"]
	path = openntpd
	url = ../puppet-openntpd
[submodule "concat"]
	path = concat
	url = ../puppet-concat
[submodule "nrpe"]
	path = nrpe
	url = ../puppet-nrpe
[submodule "puppet"]
	path = puppet
	url = ../puppet-puppet.git
[submodule "jboss"]
	path = jboss
	url = ../puppet-jboss.git
[submodule "rvm"]
	path = rvm
	url = ../puppet-rvm
[submodule "resolver"]
	path = resolver
	url = ../puppet-resolver.git
[submodule "ntp"]
	path = ntp
	url = ../puppet-ntp
[submodule "Example42-documentation"]
	path = Example42-documentation
	url = ../Example42-documentation.git
[submodule "orientdb"]
	path = orientdb
	url = ../puppet-orientdb
[submodule "openvpn"]
	path = openvpn
	url = ../puppet-openvpn
[submodule "maven"]
	path = maven
	url = ../puppet-maven
[submodule "wget"]
	path = wget
	url = ../puppet-wget
[submodule "puppetdb"]
	path = puppetdb
	url = ../puppet-puppetdb
[submodule "postgresql"]
	path = postgresql
	url = ../puppet-postgresql
[submodule "foreman"]
	path = foreman
	url = ../puppet-foreman
[submodule "puppetdashboard"]
	path = puppetdashboard
	url = ../puppet-puppetdashboard
[submodule "sudo"]
	path = sudo
	url = ../puppet-sudo
[submodule "libvirt"]
	path = libvirt
	url = ../puppet-libvirt
[submodule "munin"]
	path = munin
	url = ../puppet-munin
[submodule "postfix"]
	path = postfix
	url = ../puppet-postfix
[submodule "vsftpd"]
	path = vsftpd
	url = ../puppet-vsftpd
[submodule "php"]
	path = php
	url = ../puppet-php
[submodule "yum"]
	path = yum
	url = ../puppet-yum
[submodule "example42"]
	path = example42
	url = ../puppet-example42
[submodule "icinga"]
	path = icinga
	url = ../puppet-icinga
[submodule "nagios"]
	path = nagios
	url = ../puppet-nagios
[submodule "rsync"]
	path = rsync
	url = ../puppet-rsync
[submodule "pentaho"]
	path = pentaho
	url = ../puppet-pentaho
[submodule "java"]
	path = java
	url = ../puppet-java
[submodule "rclocal"]
	path = rclocal
	url = ../puppet-rclocal
[submodule "tartarus"]
	path = tartarus
	url = ../puppet-tartarus
[submodule "rsyncssh"]
	path = rsyncssh
	url = ../puppet-rsyncssh
[submodule "pupmod-concat"]
	path = pupmod-concat
	url = ../pupmod-concat
[submodule "activemq"]
	path = activemq
	url = ../puppet-activemq
[submodule "mcollective"]
	path = mcollective
	url = ../puppet-mcollective
[submodule "vagrant"]
	path = vagrant
	url = ../puppet-vagrant
[submodule "logstash"]
	path = logstash
	url = ../puppet-logstash
[submodule "user"]
	path = user
	url = ../puppet-user
[submodule "heartbeat"]
	path = heartbeat
	url = ../puppet-heartbeat
[submodule "rsyslog"]
	path = rsyslog
	url = ../puppet-rsyslog
[submodule "scmserver"]
	path = scmserver
	url = ../puppet-scmserver
[submodule "lighttpd"]
	path = lighttpd
	url = ../puppet-lighttpd
[submodule "tinc"]
	path = tinc
	url = ../puppet-tinc
[submodule "vim"]
	path = vim
	url = ../puppet-vim
[submodule "minimal42"]
	path = minimal42
	url = ../puppet-minimal42
[submodule "sendmail"]
	path = sendmail
	url = ../puppet-sendmail
[submodule "django"]
	path = django
	url = ../puppet-django
[submodule "snmpd"]
	path = snmpd
	url = ../puppet-snmpd
[submodule "freeradius"]
	path = freeradius
	url = ../puppet-freeradius
[submodule "proftpd"]
	path = proftpd
	url = ../puppet-proftpd
[submodule "Example42-templates"]
	path = Example42-templates
	url = ../Example42-templates.git
[submodule "Example42-tutorials"]
	path = Example42-tutorials
	url = ../Example42-tutorials
[submodule "apt"]
	path = apt
	url = ../puppet-apt
[submodule "dhcpd"]
	path = dhcpd
	url = ../puppet-dhcpd.git
[submodule "dovecot"]
	path = dovecot
	url = ../puppet-dovecot.git
[submodule "exim"]
	path = exim
	url = ../puppet-exim.git
[submodule "msmtp"]
	path = msmtp
	url = ../puppet-msmtp.git
[submodule "clvm"]
	path = clvm
	url = ../puppet-clvm
[submodule "multipath"]
	path = multipath
	url = ../puppet-multipath
[submodule "rhcs"]
	path = rhcs
	url = ../puppet-rhcs
[submodule "logrotate"]
	path = logrotate
	url = ../puppet-logrotate
[submodule "autofs"]
	path = autofs
	url = ../puppet-autofs
[submodule "mailx"]
	path = mailx
	url = ../puppet-mailx
[submodule "lsb"]
	path = lsb
	url = ../puppet-lsb
[submodule "zip"]
	path = zip
	url = ../puppet-zip
[submodule "samba"]
	path = samba
	url = ../puppet-samba
